<%- include('header');-%>
<div class="box" id="heading">
    <h1><%= listTitle%></h1>
  </div>
  <div class="todos">
    <div class="box">
      <form action="/" method="post" class="item">
        <input
          type="text"
          name="todo"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="list" value="<%=listTitle%>">+</button>
      </form>
      <% todos.forEach((todo)=>{ %>
      <div class="item">
        <input type="checkbox" />
        <p><%= todo.name %></p>
      </div>
      <% })%>
    </div>
  </div>
<%- include('footer');-%>
